<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>{{ titlePage }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Recursive:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./public/css/css.css">
</head>

<body>
    <div class="container">

        {% include "v_header.html" %}

        <div class="content center">
            <h1 class="title center">{{ titlePage }}</h1>

            <div class="sign-in">

                {% include "./v_sign-in.html" %}

                {% include "./v_registration.html" %}

            </div>
        </div>

        {% include "./v_footer.html" %}

    </div>
</body>

</html>