<form action="#" method="POST" class="form_product">

  <div>
      <label for="login" class="label_product">Логин</label>
      <input id="login" type="text" name="login" placeholder="Ваш логин" value="">

      <label for="password" class="label_product">Пароль</label>                    
      <input id="password" type="password" name="password" placeholder="Ваш пароль" value="">
  </div>

  <div class="sign-in__btn">
      <input type="submit" class="form_btn" name="sign-in" value="Вход">
      <input type="submit" class="form_btn" name="sign-in" value="Регистрация">
  </div>
</form>