{% include './header.html' %}

<div class="content center">
  <h1 class="title center">{{ titlePage }}</h1>

  <div class="sign-in">
    <form method="POST" class="form_product">

      <div>

        <label for="user_name" class="label_product">Имя</label>
        <br>
        <span class="error">{{ content_data }}</span>
        <input id="user_name" class="input" type="text" name="user_name" value="{{ userData.name }}">

        <label for="user_phone" class="label_product">Телефон</label>
        <input id="user_phone" class="input" type="tel" name="user_phone" value="{{ userData.phone }}">

        <label for="user_email" class="label_product">E-mail</label>
        <input id="user_email" class="input" type="email" name="user_email" value="{{ userData.email }}">

        <label for="user_login" class="label_product">Логин</label>
        <input id="user_login" class="input" type="text" name="user_login" value="{{ userData.login }}">

        <label for="user_password" class="label_product">Старый пароль</label>
        <input id="user_password" class="input" type="password" name="user_password"
          placeholder="Введите старый пароль">

        <label for="new_password" class="label_product">Новый пароль</label>
        <input id="new_password" class="input" type="password" name="new_password" placeholder="Введите новый пароль">

      </div>

      <div class="sign-in__btn">
        <form method="POST">
          <input type="submit" name="save" value="Сохранить" class="form_btn">
        </form>

        <form method="POST" class="w100">
          <input type="submit" name="come_back" value="Вернуться назад" class="form_btn">
        </form>

      </div>
    </form>

  </div>
</div>

{% include './footer.html' %}