{% include 'header.html' %}

{% for item in content_data %}

<div class="content content_product">

  <h1 class="title">{{ item.title }}</h1>

  <a href="../public/img/{{ item.img }}" target="_blank"><img src="../public/img/{{ item.img }}" alt="bike" class="img"></a>
  <div class="text">

    <h3 class="header">Описание товара</h3>

    {{ item.desc_short }}

    <div class="buy_product">
      <div class="price">Цена: <b>{{ item.price }}$</b></div>
      <div class="count">Осталось: <b>{{ item.quantity }} шт.</b></div>
      <button class="buy_btn">Купить</button>
    </div>
  </div>
  <h3 class="header">Характеристики товара</h3>

  <ul class="specifications">
    <li><img src="https://raw.githubusercontent.com/Vlad777-bit/static/master/e-bike/logo/logo.png" alt="logo" class="logo"> Тип:&nbsp;{{ item.type_bike }}</li>
    <li><img src="https://raw.githubusercontent.com/Vlad777-bit/static/master/e-bike/logo/logo.png" alt="logo" class="logo"> Возраст:&nbsp;{{ item.age }}</li>
    <li><img src="https://raw.githubusercontent.com/Vlad777-bit/static/master/e-bike/logo/logo.png" alt="logo" class="logo"> Максимальный вес велосипедиста:&nbsp;{{ item.max_weight }} кг</li>
    <li><img src="https://raw.githubusercontent.com/Vlad777-bit/static/master/e-bike/logo/logo.png" alt="logo" class="logo"> Тип привода:&nbsp;{{ item.type_drive }}</li>
    <li><img src="https://raw.githubusercontent.com/Vlad777-bit/static/master/e-bike/logo/logo.png" alt="logo" class="logo"> Вес велосипеда:&nbsp;{{ item.bike_weight }} кг</li>
    <li><img src="https://raw.githubusercontent.com/Vlad777-bit/static/master/e-bike/logo/logo.png" alt="logo" class="logo"> Максимальная скорость:&nbsp;{{ item.max_speed }} км/ч</li>
    <li><img src="https://raw.githubusercontent.com/Vlad777-bit/static/master/e-bike/logo/logo.png" alt="logo" class="logo"> Пробег на одном заряде:&nbsp;{{ item.mileage_at_time }} км</li>
    <li><img src="https://raw.githubusercontent.com/Vlad777-bit/static/master/e-bike/logo/logo.png" alt="logo" class="logo"> Время зарядки:&nbsp;{{ item.charging_time }} ч</li>
    <li><img src="https://raw.githubusercontent.com/Vlad777-bit/static/master/e-bike/logo/logo.png" alt="logo" class="logo"> Материал рамы:&nbsp;{{ item.frames_material }}</li>
 </ul>

  <div class="text2">
    <h3 class="header">Подробное описание товара</h3>

    {{ item.desc_long }}

  </div>

  <div class="text2 center">
    <h3 class="header">Отзывы покупателей</h3>


  </div>

  <div class="text2 center">
    <h3 class="header">Оставьте своё впечатление о товаре</h3>

    <form action="../engine/from.php" method="POST" class="form_product">

      <input type="text" name="id" value="<?= $idProduct ?>" hidden>

      <label for="name" class="label_product">Имя</label>
      <input id="name" type="text" name="name" placeholder="Ваше имя" value="">

      <label for="email" class="label_product">E-mail</label>
      <input id="email" type="email" name="email" placeholder="Ваш e-mail">

      <label for="text"></label>
      <textarea id="text" placeholder="Какие ваши впечатления?" name="text"></textarea>

      <input type="submit" class="form_btn" name="send" value="Отправить">

    </form>

  </div>

</div>

{% endfor %}

{% include 'footer.html' %}